:root
{
  background-color: #333a45;
  --translateX : 120px;
  --translateY : 248px;
}

.changeTimer
{
  display: inline-block;
  background-color: rgb(40 40 41);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.changeTimerButtons
{
  background-color: none;
  color: #ffffff;
  font-size: 1.3em;
  font-family: monospace;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  margin: 0;
  background: none;
  cursor: pointer;
}

.changeTimerButtons:hover
{
  color: #f44c7f;
}

.displaytext
{
  position: relative;
  color: #939eae;
  font-size: 2.5em;
  padding-right: 0.5px;
  font-family: monospace;
}
.textContainer
{
  padding-left: 7em;
  padding-right: 7em;
  display: block;
  position: relative;
}

.cursor
{
  top: 0px;
  left: 0px;
  display: block;
  width: 2px;
  height: 40px;
  position: fixed;
  background-color: #f44c7f;
  border-radius: 5px;
  transition: transform 0.15s ease-out;
  z-index: 9999;
}


.restartButton
{
  background-color: #333a45;
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
}


.restartImage:hover {
  filter: brightness(0) invert(1);
}

.WPM
{
  font-size: 2.5em;
  font-family: monospace;
  display: block;
  text-align: center;
}